* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  background-color: red;
}

header {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4039215686);
}
header .header__top-container {
  background: #000;
}
header .header__top-container .header__top {
  padding: 12px 0;
  max-width: 1170px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
}
header .header__top-container .header__top--title {
  margin-right: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header__top-container .header__top--title p {
  color: var(--Text, #fafafa);
  font-family: Poppins-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
header .header__top-container .header__top--title a {
  color: var(--Text, #fafafa);
  text-align: center;
  font-family: Poppins-SemiBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration-line: underline;
}
header .header__top-container .header__top .space__ {
  background: #fff;
}
header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 16px 0;
}
header .header__wrapper .header__logo {
  color: var(--Text2, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
}
header .header__wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}
header .header__wrapper ul li .navlink {
  color: var(--Text2, #000);
  text-align: center;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
header .header__wrapper ul li .active {
  border-bottom: 1px solid #000;
}
header .header__wrapper .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
header .header__wrapper .elements .search {
  border-radius: 4px;
  background: var(--Secondary, #f5f5f5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 34px;
  padding: 7px 20px;
}
header .header__wrapper .elements .search input {
  background: transparent;
  outline: none;
  border: none;
}

.search__btn {
  cursor: pointer;
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}