@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

body{
  font-family: sans-serif;
}


.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
